body{
  padding:0;
  margin:0;
  box-sizing:border-box;
  height:100vh;
  width: 100vh;
  background-color: pink;
  display: flex;
};

.herniPole {
width:640px;
height:640px;
display:flex;
flex-wrap: wrap;
position: relative;
margin: auto;
};

.karticka {
  width:150px;
  height:150px;
  position: absolute;
  background-color: aqua;
  margin: 5px;
};

img {
  width: 100px;
  height: 100px;
};

frontFace, backFace {
  width:100px;
  height:100px;
  position: absolute;
  background-color:rgba(186, 216, 51, 0.884);
  margin: 5px;

};

.karticka.flip {
  transform: rotateY(180deg);
}

